.header {
  background-color: #d32323;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items:center;
  height: 90px;
  flex : 1 100%;
}

.logo {
  margin-left: 10px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Papyrus";
  background-color: inherit;
  font-size: 32px;
}


.login-signup {
  display: flex;
  justify-content:space-between;
  margin: auto;
  align-items:center;
  background-color: inherit;
}

.login-signup button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  margin: 10px;
  background-color: #bd1f1f;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: 1px, solid, #ffffff;

}

.login-signup button:hover {
  background-color: #990000;
}

.header-group {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d32323;
}
.header-name {
  margin: 10px;
  color: #ffffff;
  background-color: inherit;;
}

.header-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  margin: 10px;
  background-color: #bd1f1f;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: 1px, solid, #ffffff;
}

.header-button:hover {
  background-color: #990000
}

.modal-title {
  font-weight: bold;
  font-family: "Arial"
}

.modal-submit {
  background-color: #ffffff;
  font-family: "Arial";
  font-weight: bold;
}
.modal-submit:hover {
  background-color: #f2f2f2;
}

.login-input {
  font-family: "Arial";
  margin-left: 5px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.guestUser {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: "Arial";
  font-weight: bold;
}

.label {
  font-family: "Arial";
  background-color: #e60000;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.guestUser:hover {
  background-color: #f2f2f2
}

.or {
  font-family: "Arial";
}

.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d32323;
}

.form {
  background-color: #d32323;
}

.Modal-Overlay {
  z-index:10;
}

.Search-Form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Search {
  font-weight: bold;
  font-size: 22px;
  margin-right: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Search-Input {
  margin-left: 10px;
  width: 350px;
  height: 36px;
  border-radius: 5px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px

}

.Search-Button {
  background-color: #bd1f1f;
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
  padding: 7px;
  border-radius: 5px;
}

.Search-Button:hover{
  background-color: #990000;

}
