.PhotoPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.PhotoIndex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.Photo {
  height: 220px;
  width: 220px;
  margin: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.Photo:hover {
  cursor: pointer;
  opacity: .7;
}

.Restaurant-Detail {
  margin-top: 15px;
}

.rp-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 175px;
}

.image-form-dropzone {
  border: 5px dashed #ffffff;

}

.image-form-dropzone > p {
  height: 400px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
}

.image-form-dropzone:hover {
  cursor: pointer;
  background-color: #990000
}
//
// input[type=submit]{
//   border: 1px solid #000000;
// }

.BigPic {
  width: 600px;
  height: 600px;
  border-radius: 5px;
  object-fit: cover;
}

.UploadForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.preview {
  height: 250px;
  width: 250px;
}

.submit-upload {
  background-color: #ffffff;
  box-shadow: 1px 1px 2px #000000;
  color:#ffffff;
  text-align: center;
}

.submit-upload:hover {
  background-color: #cccccc;
}
