.restaurants {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  align-items: flex-start;
}

.restaurants-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42%;
  z-index: 1;
  background-color: rgba(255,255,255,0.8);
  margin-left: 4%;
  margin-top: 3%;
  border-radius: 7px;
  height: 97.5%;
}

.map-index {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restaurant-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items:center;
  font-size: 14px;
  margin-right: 25px;
  margin-left: 25px;
  justify-content: space-between;
  border-top: 1px solid #cccccc;
  box-sizing: border-box;
  padding: 20px;
  padding-top:20px;
}

ul {
  overflow: scroll;
}

.restaurant-list:hover {
  background-color: #fff;
}

.restaurant-index {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.title-properties {
  display: flex;
  flex-direction: column;
  align-items: flex-start;;
  justify-content: space-between;;
  margin-left: 10px;
  margin-right: 50px;
  width: 33%;
}

.restaurant-index-name {
  font-weight: bold;
  font-family: 'Arial';
  font-size: 16px;
  color: #0033cc;
}

.restaurant-index-name:hover{
  text-decoration: underline;
}

.r-address {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}

.restaurant-index-price {
  color: #1f7a1f;
  font-weight: bold;
}

.picture {
  width: 100px;
  height: 100px;
  border-radius: 7px;
  margin-right: 5px;
  object-fit: cover;
}

.r-description {
  margin: 5px;
}

input[type="text"] {
  border: 1px solid #000000;
}

.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.Gray {
  color: #666666;
}
