.restaurant-page {
  background-color: #ffd9b3;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #ffd9b3;
}

.background {
  background-color: #ffd9b3;
}

// .r-des-pic {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   width: 100%;
//   margin-bottom: 20px;
//   margin-top: 10px;
// }

.r-des {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.r-rating{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 20px;
}

.r-price{
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.r-hours{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #fff2e6;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.r-map{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: 1px solid #000000;
}

.day-hours {
  display: flex;
  flex-direction: row;
  align-items: flex-start;;
}

.day-hours > text {
  margin: 3px;
}

.day {
  font-weight: bold;
  margin-right: 5px;
}

// .r-images {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.r-imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  overflow: scroll;
  background-color: #fff2e6;
}

.r-imgs > img {
  height: 200px;
  width: 200px;
  margin: 20px;
}

.r-imgs > img:hover {
  height: 250px;
  width: 250px;
}

.r-reviews {
  width: 100%;
}

.r-map-pics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.r-map-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:50%;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #fff2e6;
  margin-right: 10px;
}

.r-reviews-hours {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}




// .slider-images {
//   height: 50px;
//   width: auto;
// }
//
// .slider {
//   min-height: 0;
//   min-width: 0;
// }
