.everything {
  margin-top: 15px;
}

.restaurant-page {
  background-color: #f5f5f5;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.first-half {
  background-color: #f5f5f5;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}

.second-half {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.background {
  background-color: #ffffff;
}

// .r-des-pic {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   width: 100%;
//   margin-bottom: 20px;
//   margin-top: 10px;
// }

.r-des {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.r-rating{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  width: 100%;
  justify-content: space-between;
}

.r-rating > text {
  margin-right: 10px;
}

.r-price{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-bottom: 5px;
}

.r-hours{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: 2%;
}

// .r-map{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 30%;
//   border: 1px solid #000000;
// }

.day-hours {
  display: flex;
  flex-direction: column;
  align-items: flex-start;;
}

.day-hours > text {
  margin: 3px;
}

.day {
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 15px;
}

.r-times > text {
  margin-bottom: 10px;
}

// .r-images {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.r-imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  background-color: inherit;
  height: 275px;
}

.r-imgs > img {
  height: 150px;
  width: 150px;
  margin: 10px;
}

.r-imgs > img:hover {
  height: 200px;
  width: 200px;
}

.r-reviews {
  width: 100%;
}

.r-map-pics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  width: 100%;
}

.r-map-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:272px;;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #ffffff;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.r-reviews-hours {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.Review-Button {
  // border: 1px solid #000000;
  width: 140px;
  height: 25px;
  font-size:16px;
  background-color: #bd1f1f;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.Review-Button:hover{
  background-color: #d32323;
}

.AllPhotos {
  // border: 1px solid #000000;
  border-radius: 3px;
  background-color: #d32323;
  width: 150px;
  height: 25px;
  font-size: 13px;
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
}

.AllPhotos:hover {
  background-color: #990000;
}

.Upload-Button {
  // border: 1px solid #000000;
  // margin-top: 5px;
  background-color: #d32323;
  border-radius: 3px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  width:100px;
  height: 25px;
  font-size: 13px;
}

.Upload-Button:hover {
  background-color: #990000;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  width: 60%;
  align-items: center;
  flex-wrap: wrap;

}

.r-name-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.times {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.r-times {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Star-Rating-5 {
  color: #d32323;
  font-size: 18px;
}

.Star-Rating-4 {
  color: #f15c4f;
  font-size: 18px;
}

.Star-Rating-3 {
  color: #ff9242;
  font-size: 18px;
}

.Star-Rating-2 {
  color: #fec011;
  font-size: 18px;
}

.Star-Rating-1 {
  color: #f2bd79;
  font-size: 18px;
}

.Star-Rating-0 {
  color: #666666;
  font-size: 18px;
}


.scroll-image {
  border-radius: 5px;
}


.Gray-text {
  color: #6a6a6a;
}

.map-container2 {
  width:250px;
  height:150px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 5px;
}

.r-des > h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.camera-icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 5px;
  width: 16px;
  height: 10px;
  border-radius: 1px;
  border: solid 1px currentColor;
}
.camera-icon:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 4px;
  height: 4px;
  border-radius: 3px;
  border: solid 1px currentColor;
}
.camera-icon:after {
  content: '';
  position: absolute;
  right: 2px;
  top: -2px;
  width: 4px;
  height: 1px;
  border-radius: 1px 1px 0 0;
  background-color: currentColor;
}


// .slider-images {
//   height: 50px;
//   width: auto;
// }
//
// .slider {
//   min-height: 0;
//   min-width: 0;
// }
